{% extends "contact/layout.html" %}

{% block body %}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-2">
                <div class="card-header text-center">
                    <h1>Name: {{ contact.name }}</h1>
                </div>
                <div class="card-body text-center">
                    <h3>Phone Number: {{ contact.phone_number }}</h3>
                </div>
                <div class="card-body text-center">
                    <p>Profile Picture</p>
                    <img src="{{ contact.profile_pic_url }}" alt="Profile Picture" class="img-fluid profile-img">
                </div>
                <div class="card-body text-center">
                    <p>QR Code</p>
                    <img src="{{ contact.qr_code_url }}" alt="QR Code" class="img-fluid profile-img">
                </div>
            </div>

            <button class="btn btn-outline-secondary btn-small d-block mx-auto" onclick="copyLink()">Copy Link</button>
        </div>
    </div>
</div>

<script>
    function copyLink() {
        navigator.clipboard.writeText(window.location.href);
        alert("Profile link copied to clipboard.")
    }
</script>
{% endblock %}
